* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    font-family: 'Press Start 2P', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

h1 {
    color: black;
    font-size: 1.8rem;
}

#snake {
    border: 5px solid black;
    border-radius: 1%;
    box-shadow: 0 0 10px 10px rgba(50, 50, 50, 0.1);
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 0.9rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 2px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.menu label {
    padding: 0 3px;
}

.score {
    font-size: 0.7rem;
}

#score {
    padding-left: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.finalScore {
    color: #ff0000;
}