* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    font-family: 'Press Start 2P', monospace;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: black;
    padding: 20px 0 20px 0;
    font-size: 2.0rem;
}

#snake {
    border: 5px solid black;
    border-radius: 1%;
    box-shadow: 0 0 10px 10px rgba(50, 50, 50, 0.1);
}

header div {
    display: flex;
    align-items: center;
}

#score {
    padding-left: 1.2rem;
    font-weight: bold;
    font-size: 1.3rem;
}